<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Samuel Pordeus</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Alfa+Slab+One|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
    <link href="/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
  </head>
  <body>
    <header>
      <nav class="nav-extended">
        <div class="nav-wrapper teal">
          <a href="/" class="brand-logo">&nbsp; Home</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/mail.html" class="menu-text">Work with me</a></li>
            <li><a href="/blog/" class="menu-text">Blog</a></li>
            <li><a href="/web.html" class="menu-text">Web applications</a></li>
            <li><a href="/data.html" class="menu-text">Data Analysis</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="/mail.html class="menu-text"">Work with me</a></li>
            <li><a href="/" class="menu-text">Blog</a></li>
            <li><a href="/web.html" class="menu-text">Web applications</a></li>
            <li><a href="/data.html" class="menu-text">Data analysis</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
    <div class="container content">
      {{ content }}
    </div>
    </main>
      <footer class="page-footer teal">
        <div class="container center">
          <div class="row">
              <div class="col l3 s6">
                <a class = "white-text" href="https://www.github.com/samuelpordeus"><h5><i class="fa fa-github"></i>&nbsp;Github</h5></a>
              </div>
              <div class="col l3 s6">
                <a class = "white-text" href="https://www.twitter.com/samuelpordeus"><h5><i class="fa fa-instagram"></i>&nbsp;Instagram</h5></a>
              </div>
              <div class="col l3 s6">
                <a class = "white-text" href="https://www.facebook.com/samuelpordeus"><h5><i class="fa fa-facebook-square"></i>&nbsp;Facebook</h5></a>
              </div>
              <div class="col l3 s6">
                <a class = "white-text" href="https://www.instagram.com/samuelspordeus"><h5><i class="fa fa-twitter"></i>&nbsp;Twitter</h5></a>
              </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container center">
            Samuel Pordeus 2017
          </div>
        </div>
    </footer>
    <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/assets/js/materialize.js"></script>
  <script src="/assets/js/init.js"></script>
  </body>
</html>
