---
layout: default
---
  <div class="container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="center teal-text text-lighten-2 home-title">Samuel Pordeus</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m12 l4">
          <div>
            <h2 class="center brown-text test"><i class="fa fa-cog fa-spin fa-fw"></i></h2>
            <h5 class="center">Web developer</h5>
          </div>
        </div>
        <div class="col m12 l4">
          <div>
            <h2 class="center brown-text test"><i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></i></h2>
            <h5 class="center">Data analysist</h5>
          </div>
        </div>
        <div class="col m12 l4">
          <div>
            <h2 class="center brown-text test"><i class="fa fa-life-buoy fa-spin fa-fw" aria-hidden="true"></i></h2>
            <h5 class="center">Life saver</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
