---
layout: default
---
  <div id="index-banner" class="container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="center teal-text text-lighten-2 home-title">Samuel Pordeus</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row center">
        <h4 class="justify col s12 light">Hello, I'm a computer engineering student that tries to learn a lot of stuff at the same time. These are the subjects that you are probably going to come across here:</h4>
      </div>
      <div class="row">
        <div class="col m12 l4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fa fa-cog fa-spin fa-fw"></i></h2>
            <h5 class="center">Web applications</h5>
          </div>
        </div>

        <div class="col m12 l4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fa fa-bar-chart" aria-hidden="true"></i></h2>
            <h5 class="center">Data analysis</h5>
          </div>
        </div>

        <div class="col m12 l4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></i></h2>
            <h5 class="center">Assignments</h5>
          </div>
        </div>
      </div>
      <div class="row center home-button">
        <br/><br/>
        <a href = "/blog/" class="waves-effect waves-light btn-large">ENOUGH! Take me to the blog</a>
      </div>
    </div>
  </div>
